@font-face {
  font-family: Noto;
  src: url("noto.ttf");
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Noto;
  background-color: rgb(233, 233, 233);
}

.page--flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(233, 233, 233);
}

.leaflet-container {
  background-image: url("fog.webp");
}
span.map--container {  
  width: 100%;  
  height: 100%;
}
#map {
  width: 100%;
  margin: auto;
  height: 100vh;
}

label {
  font-weight: bold;
}

.legend {
  padding: 0.4em;
  user-select: none;
  padding-bottom: 0.5em;
  background-color: inherit;
}
.legend div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.legend label {
  border: 1px solid black;
  border-radius: 3px;
  border: 5px solid transparent;
  border-image: url("box.png") 5 stretch;
  background-color: rgb(207, 207, 207);
  margin: 0.1em;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}
.leaflet-popup-content {
  font-family: Noto;
}

.legend span.count {
  margin-right: 0.2em;
}

.leaflet-bottom.leaflet-right {
  display: none;
}

.legend label input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.check--image {
  width: 2em;
  height: 2em;
  background-image: url("check0.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.legend label input:checked + .check--image {
  background-image: url("check1.png");
}

.text--area {
  height: fit-content;
  padding: 0.5em;
}

.separator.last{
  padding-bottom: 1em;
  background-color: inherit;
}

.separator {
  display: block;
  width: 100%;
  height: 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 11px 50px 0 50px;
  border-image-source: url("separator.png");
  border-image-slice: 11 50 0 50;
  border-image-repeat: stretch;
}

.intro--paragraph {
  font-size: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  color: rgb(153, 122, 84);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.intro--paragraph a.wiki {
  color: rgb(31, 31, 199);
  text-decoration: none;
}

.leaflet-bar.leaflet-control.go--to--legend--button {
  background-image: url("arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 9em;
  width: 6em; 
  border: none;
  padding: 0;
}

.leaflet-touch .leaflet-bar a {
  height: 2.5em;
  width: 2.5em; 
  line-height: 2.5em;
}

.leaflet-popup-content {
  font-size: 2em;
}

.legend label span.category--text,  .legend label span.count {
  font-size: 2em;
}

@media (min-width: 480px) {
  .legend label span.category--text,  .legend label span.count {
    font-size: 2.4em;
  }
  .intro--paragraph {
    font-size: 2em;
  }
  .leaflet-bar.leaflet-control.go--to--legend--button {
    height: 6em;
    width: 4em;
  }
  .leaflet-touch .leaflet-bar a {
    height: 1.6em;
    width: 1.6em; 
    line-height: 1.6em;
  }
}

@media (min-width: 640px) {
  .legend label span.category--text,  .legend label span.count {
    font-size: 1.8em;
  }
  .intro--paragraph {
    font-size: 1.5em;
  }
  .leaflet-bar.leaflet-control.go--to--legend--button {
    height: 6em;
    width: 4em;
  }
  .leaflet-touch .leaflet-bar a {
    height: 1.6em;
    width: 1.6em; 
    line-height: 1.6em;
  }
}

@media (min-width: 768px) {
   .legend label span.category--text,  .legend label span.count {
    font-size: 1.8em;
  }
  .intro--paragraph {
    font-size: 1.5em;
  }
  .leaflet-bar.leaflet-control.go--to--legend--button {
    height: 6em;
    width: 4em;
  }
  .leaflet-touch .leaflet-bar a {
    height: 1.6em;
    width: 1.6em; 
    line-height: 1.6em;
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}